extends layout

block content
  h4 Pick the pictures you can envision being a part of your vacation
  div(id='surveyblock')
    div(class='col-md-4')
      img(src='/media/water-hands-up.png ' id='surveypics')
    div(class='col-md-4')
      img(src='/media/mountainspic.jpg ' id='surveypics')
    div(class='col-md-4')
      img(src='/media/rooftop.jpg ' id='surveypics')
      