extends layout

block content
  script(type='text/javascript' src='Scripts/onclick.js')
  h4 Pick the pictures you can envision being a part of your vacation
  div(id='surveyblock')
    div(class='col-md-4')
      img(src='/media/handsupwater.png ' id='surveypics' onClick='selected(1)')
    div(class='col-md-4')
      img(src='/media/mountainspic.png ' id='surveypics' onClick='selected(2)')
    div(class='col-md-4')
      img(src='/media/rooftop.png ' id='surveypics' onClick='selected(3)')

