extends layout

block content
  h4 Pick the pictures you can envision being a part of your vacation
  div(class="container")
    div(class="row")
      div(class="col-md-3")
        div(class="square", class="square")
          img(src='/media/rooftop.jpg')