extends layout

block content
  h1= title
  h1(class="instructions")Pick the pictures you can envision being a part of your vacation
  div(class="container" id="survey")
  	div(class="row")
  		div(class="col-md-3")
  		  div(class="square", style="background-image:url('https://cdn.cliqueinc.com/posts/90203/travel-instagram-accounts-90203-1476470159-square.640x640uc.jpg'")
  		div(class="col-md-3")
  		  div(class="square", style="background-image:url('https://l.messenger.com/l.php?u=https%3A%2F%2Fscontent-frt3-2.xx.fbcdn.net%2Fv%2Ft34.0-0%2Fp280x280%2F23513144_1823910660953707_1995258492_n.jpg%3F_nc_ad%3Dz-m%26_nc_cid%3D0%26oh%3D3843367239f48be0791cb67eb7769750%26oe%3D5A09F391&h=ATNYYcgFLtyJcUfIYR30256rLLgbh1vpD6jX1l6si-jfXzkX6uBz_PVFPSvgkcm0BAkoocAOFctvx3eOFGuNK_FrNZx_BVJgwkyPYj2te6R8Yxn6mq8Ua86XdZ4I47WkHMtHEWHcP1SuU6_SQaxaDxQQH5wYvA'")
  		div(class="col-md-3")
  		  div(class="square", style="background-image:url('https://l.messenger.com/l.php?u=https%3A%2F%2Fscontent-frt3-2.xx.fbcdn.net%2Fv%2Ft34.0-0%2Fp280x280%2F23549587_1823910654287041_674908213_n.jpg%3F_nc_ad%3Dz-m%26_nc_cid%3D0%26oh%3D259f70d2a1f83a7a8c932bd4068aedcb%26oe%3D5A09DC9D&h=ATNYYcgFLtyJcUfIYR30256rLLgbh1vpD6jX1l6si-jfXzkX6uBz_PVFPSvgkcm0BAkoocAOFctvx3eOFGuNK_FrNZx_BVJgwkyPYj2te6R8Yxn6mq8Ua86XdZ4I47WkHMtHEWHcP1SuU6_SQaxaDxQQH5wYvA'")
