extends layout

block content
  h1= title
  h4 Pick the pictures you can envision being a part of your vacation
  div(class="container" id="survey")
    div(class="row")
      div(class="col-md-3")
        div(class="square", src="C:/Users/Chandler/Documents/GitHub/gram-advisor/public/media/rooftop.jpg")