extends layout

block content
  //div.jumbotron.jumbotron-fluid
    //div.container
      //h1 Welcome
        //p We uncover the most picturesque places on Earth to enhance vacation

  div.left
  div.right
    h1 Welcome
      p We uncover the most picturesque places on Earth to enhance vacation

  //div.media
    //div.media-left
      //img.media-object(src="/images/left.jpg")
    //div.media-body
      //h4.media-heading John Doe
      //p Lorem Ipsum

  //div.container-fluid
    //h1 Basic Grid Structure
      //p Resize browser window
        //div.row
          //div.col-sm-6