doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans', type='text/css')
    script(src='modules/jquery/dist/jquery.min.js')
    script(src='/javascripts/input.js')
    script(src='/javascripts/results.js')
//extends layout

block content
  div
    div#left.col-sm-6
    div.container
      div.col-sm-6
        div#Welcome.col-sm-12
          //img(src="/images/logo.png" width=60 height=60)
          img(src="/images/textlogo.png" width=200 height=50)
          //img(src="/images/textlogo.png" width=200 height=100)
          h1#Welcome Welcome
          p We uncover the most picturesque places on Earth to enhance vacation.
          div.form-group 
            input#Destination(type="text", name="destination", placeholder="Enter your destination")
            button#Submit Let's Go

          div#Preset
            p Or take a look at our featured destinations!
            div.img-wrap
              img.option(src='/images/barcelona.jpg')
              a#B.img-desc(onclick= "getCoords(this)") Barcelona
    
            div.img-wrap
              img.option(src='/images/tokyo.jpg')
              a#T.img-desc(href='' onclick= "getCoords(this)") Tokyo
            
            div.img-wrap
              img.option(src='/images/charleston.jpg')
              a#C.img-desc(href='' onclick= "getCoords(this)") Charleston

