extends layout

block content
  h2 Top Results
  div(class='container')
    each location in data
      div(class='col-md-3')
        img(src= location.photo_url class='results img-responsive')
        p #{location.name}
        //div(id='myModal' class="modal fade" role="dialog")
          //div(class='modal-dialog')
