extends layout

block content
  div(class='container')
    h3 Top Results
    each location in data
      div(class='img-wrap')
        img.option(src= location.photo_url width=150 height=150 class='results')
        p.img-desc #{location.name}