extends layout

block content
  div(class='container')
    h3 Top Results
    each location in data
<<<<<<< HEAD
      div(class='col-md-3 img-wrap')
        p.img-desc #{location.name}
        div(id='myModal' class="modal fade" role="dialog")
          div(class='modal-dialog')
>>>>>>> d3d9377ed4f64d239b2eb9f7758fa02c99cb71d2
