body {
  padding: 50px;
  font-family:'Open Sans', sans-serif;

}

#surveypics {
	width: 345px;
	height: 345px;
}

.surveypics:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#logo {
	width: 246px;
	height: 57px;
}

#surveyblock {
	padding-top: 20px;
}

a {
  color: #00B7FF;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;	
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-decoration: underline;	
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;	
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-decoration: underline;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}