body {
  font-family:'Open Sans', sans-serif;

}

.btn-success {
  background-color: #00af87;
}
.btn-success:hover {
  background-color: #007c60;
}

.results {
  object-fit: cover;
  width:230px;
  height:230px;
}

.surveypics {
	width: 345px;
	height: 345px;
}

.surveypics:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#logo {
	margin: auto;
	display: block;
	width: 15%;
	height: 15%;
}

#surveyblock {
	padding-top: 20px;
}

#left {
    background-image:url('/images/left4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
    background-size: conver;
}

#Welcome {
	margin-top: 10%;
}

#Destination {
	font-size: 120%;
	border-color: #00af87;
	background: transparent;
	border: none;
	border-bottom: 1px solid #00AF87;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

.form-group #Destination {
	width: 60%;
}

.form-group #Submit {
	margin-left: 2%;
}

button {
	color: white;
}

#Submit {
	background-color: #00AF87;
	border: none;
	box-shadow: 0px 3px 5px #D3D3D3;
  	/*onclick=*/
}

#Preset {
	margin-top: 15%;
}

.img-wrap {
	position: relative;
	height: 150px;
	width: 150px;
	margin-right: 2%;
	margin-bottom: 2%;
	float: left;
}

.option {
	width: 100%;
	height: 100%;
}

.img-desc {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0,175,135);
	color: #fff;
	visibility: hidden;
	opacity: 0.8!important;
	height: 150px;
	width: 150px;
	text-align: center;
	font-size: 150%;
	padding: 2px;
}

a#B, #C, #T {
	text-decoration: none;
	color: white;
}

a:visited {
	color: white;
}

.img-wrap:hover .img-desc {
    vertical-align: middle;
	visibility: visible;
	opacity: 1;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 30px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	text-align: center;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-decoration: underline;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

#ModalImg {
	display: inline-block;
	margin: auto;
	width: 100%;
}

.btn-primary {
	background-color: #00AF87;
	border-color: #00AF87;
}

.headers{
	color: #00AF87;
}

.checked {
	color: #00AF87;
}
